body{
    background-color: azure;
}

#car{
    height: 500px;
    width: 300px;
}
.textos{
    text-align: justify;
}
.pie_pagina{
    background-color: rgba(0, 0, 0, 0.856);
    color: aliceblue;
}
